.column {
    flex: 1 0 0;
    background: #a6e3ff ;
    border-radius: 6px;
    padding: 12px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow: auto;
}

.column-header {
    font-weight: 700;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #454647;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}
